.happy__hours_title {
    margin-top: 30px;
    text-align: center;
}

.happyhours {
    display: flex;
    flex-direction: row;
}

.happyhour {
    margin: 1em;
    padding: 1em;
    position:relative;
}

.happyhour__heart {
    position:absolute;
    bottom:12px;
    right:20px;
}