h1 {
    font-family: 'Anonymous Pro', monospace;
}

.happy__hours_title {
    margin-top: 30px;
    text-align: center;
}

.happyhours {
    display: flex;
    flex-direction: row;
}

.happyhour {
    margin: 1em;
    padding: 1em;
    position:relative;
}

.happyhour__heart {
    position:absolute;
    bottom:12px;
    right:20px;
}

.search__container {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

.happy_hour__search {
    margin-top: 25px;
    margin-right: 5px;
}

.filters {
    display: flex;
    justify-content: space-evenly;
}

/* .locations {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
} */



